.editor {
  font-size: 16px;
  border-style: hidden;
  margin-bottom: 110px;
  min-height: 600px;
}

.button {
  text-align: center;
}

.immutable {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 0;
}

.mutable {
  background-color: rgba(204, 204, 255, 1.0);
  padding: 2px 0;
}

.segmented {
  background-color: rgba(248, 222, 126, 1.0);
  padding: 2px 0;
}

.controls {
  position: fixed;
  bottom: 74px;
  width: 59%;
  background: rgba(255, 255, 255, 0.89);
  box-shadow: 2px -4px 44px -8px rgba(0,0,0,0.28);
  padding: 10px;
}

.recommendations{
  position: fixed;
  left: 63%;
  bottom: inherit;
}
