.root {
  font-family: Helvetica, sans-serif;
  padding: 20px;
  width: 600px;
}

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.button {
  text-align: center;
}

.immutable {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 0;
}

.mutable {
  background-color: rgba(204, 204, 255, 1.0);
  padding: 2px 0;
}

.segmented {
  background-color: rgba(248, 222, 126, 1.0);
  padding: 2px 0;
}
