.table__clickable {
  cursor: pointer;
}

.searchField {
  width: 350px;
}

.filters {
  width: 350px;
}

.circularProgress {
  text-align: center;
}

.noData {
  text-align: center;
  height: 400px;
  padding-top: 200px;
}
