.table__clickable {
  cursor: pointer;
}

.searchField {
  width: 400px;
}

.circularProgress {
  text-align: center;
}

.expertsColumn {
  width: 150px;
}

.helpSpan {
  vertical-align: baseline;
  cursor: pointer;
}

.noData {
  text-align: center;
  height: 400px;
  padding-top: 200px;
}
