.uploadzone{
  -webkit-box-shadow: 2px -4px 44px -8px rgba(0,0,0,0.28);
  -moz-box-shadow: 2px -4px 44px -8px rgba(0,0,0,0.28);
  box-shadow: 2px -4px 44px -8px rgba(0,0,0,0.28);
  background-color: rgba(20, 57, 162, 0.21);
  text-align: center;
  line-height: 0px;
  height: 125px;
  padding:5px;
}
