.barChart {
  flex: 1;
  position: relative;
  display: flex;
  user-select: none;
  justify-content: center;
}

.barChart .axis .domain {
  display: none;
}

.barChart .text {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
}

.barChart .node:hover circle {
  fill: orange;
}

.barChart div.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}
