.recommendations{
  position: absolute;
  left: 63%;
  bottom: inherit;
}

.headline {
  display: inline;
  font-size: 20px;
  font-weight: 800;
}

.helpSpan {
  vertical-align: super;
  cursor: pointer;
}

.designDecision {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
