.table__clickable {
  cursor: pointer;
}

.searchField {
  width: 400px;
}

.circularProgress {
  text-align: center;
}

.issuesCount {
  padding: 8px 8px 8px 0;
}

.headline {
  display: inline;
}

.helpSpan {
  vertical-align: super;
  cursor: pointer;
}
